<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ly.cloudstorage" >

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="云盘"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name=".MainActivity"
            android:label="云盘"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OAuthActivity"
            android:label="@string/title_activity_oauth"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".upload.UploadTabActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".download.DownloadTabActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".upload.UploadFileExploerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CloudDirActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
